/*
    Name: Joy Shi
    CS 132 Spring 2022
    Date: May 10th, 2022

    This is my styles CSS for my E-Commerce store's product page.
*/

/*---------- flex ----------*/
body,
header,
#left-links,
#right-links,
#cart,
.banner,
.product {
  display: flex;
}

body {
  flex-direction: column;
}

body {
  background-color: #f1f1f1;
  font-family: "DM Serif Display", serif;

  height: 100vh;
}

/* #left-links > */
header svg {
  width: 30px;
  height: 30px;
}

header {
  height: 30px;
  justify-content: space-between;
  text-align: center;
  margin: 0 3%;
}

h1,
p {
  margin: 0;
}

/*----text styles----*/
body {
  font-family: "WindSong", Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 20pt;
  font-family: "Bodoni Moda";
  font-weight: 900;
}

#left-links,
#right-links {
  width: 20%;
}

#right-links {
  justify-content: right;
}

h2 {
  padding: 20px;
  text-align: center;
}

#left-links > a,
svg,
h1,
#right-links p {
  align-self: center;
  margin: 0 10px 0 10px;
}

#search-line {
  transform: translateX(8px) translateY(8px);
}

.banner {
  height: 100vh;
  flex-direction: row;
  font-family: Helvetica;
  color: #f0d0e0;
}

#icecreamfloridaproject {
  background-image: linear-gradient(rgba(5, 0, 2, 0.8), rgba(5, 0, 2, 0.8)),
    url("florida project/twisteetreat.jpeg");
}

#disneywristband {
  background-image: linear-gradient(rgba(5, 0, 2, 0.8), rgba(5, 0, 2, 0.8)),
    url("florida project/disney.jpeg");
}

.product {
  height: 60%;
  margin: 10% 20% 10% 20%;
}

.prod-desc {
  margin-left: 10%;
}
